.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10rem 0;
}

.pexels-logo {
  width: 150px;
}

.link-repo {
  color: #000000;
  text-decoration: underline;
}

.link-repo:hover {
  color: #000000;
}
