/* Navbar */
.navbar {
  background: #f1e9e1;
}

.nav-link {
  font-weight: bold;
  color: #4f5b66;
}

.nav-link:hover {
  color: #8d95a4;
}

.navbar-brand {
  color: #d2644d;
}

.navbar-brand:hover {
  color: #d2644d;
}

/* Input search */
.search-input {
  height: 50px;
  font-size: 20px;
  display: inline-block;
  border: none;
  outline: none;
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus,
.search-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.search-content {
  border-bottom: 1px solid #bbb;
  padding: 0;
  width: max-content;
}

.btn-icon {
  padding: 0;
}

.icon-search {
  transition: all 0.5s ease;
}

.icon-search:hover {
  color: #d2644d;
  transform: scale(1.3);
}

/* Images */
.content {
  padding: 15px;
  height: 250px;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.content img:hover {
  box-shadow: 0 0 32px #333;
  transform: scale(1.025);
  cursor: pointer;
}

@supports (object-fit: cover) {
  .content img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.grid {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.grid-image {
  display: block;
  flex-basis: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 640px) {
  .grid-image {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .grid-image {
    flex-basis: 33%;
  }
}

@media only screen and (min-width: 1280px) {
  .grid-image {
    flex-basis: 25%;
  }
}

.btn-more {
  background: #d2644d;
  color: #ffffff;
  border-radius: 0;
}

.btn-more:hover {
  background: #d2644d;
  color: #fff;
}

/* Loading */
.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}
